## List

In [11]:
s = "Green"
colors = ['R','G','B']
colors = [5]

In [4]:
list1 = list('welcome')
print(list1)

['w', 'e', 'l', 'c', 'o', 'm', 'e']

In [21]:
letters = 'abcdefghijklmnopqrstuvwxyz' 
l = list(letters) 
l_slice = l[2:5:1]
print(l_slice)
s_slice = letters[2:5:1]
print(s_slice)
l_slice2 = l[::-1]
print(l_slice2)
l_reverse = l.reverse()
print(l.reverse)

['c', 'd', 'e']
cde
['z', 'y', 'x', 'w', 'v', 'u', 't', 's', 'r', 'q', 'p', 'o', 'n', 'm', 'l', 'k', 'j', 'i', 'h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']
<built-in method reverse of list object at 0x000002B63CAA78C8>

In [27]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [29]:
for planet in planets:
    print(planet)

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [30]:
for i in range(len(planets)):
    print(planets[i])

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

In [31]:
for i, planet in enumerate(planets):
    print(i, planet)

0 Mercury
1 Venus
2 Earth
3 Mars
4 Jupiter
5 Saturn
6 Uranus
7 Neptune

In [32]:
[print(planet) for planet in planets]

Mercury
Venus
Earth
Mars
Jupiter
Saturn
Uranus
Neptune

[None, None, None, None, None, None, None, None]

In [35]:
l = [1,2,3]
m = l
print(m)

[1, 2, 3]

In [36]:
n = l [:]
print(n)

[1, 2, 3]

In [38]:
p = list(l)
print(l)

[1, 2, 3]

In [39]:
q = l.copy()
print(q)

[1, 2, 3]

In [40]:
m[0] = 0
print(m)

[0, 2, 3]

In [42]:
colors=['red','green','blue','green']
colors.index('green')

1

In [43]:
colors.index('green',2)

3

In [44]:
if 'red' in colors:
    print("yes in position",colors.index('red'))

yes in position 0

## Tuple

In [58]:
m = (20,30)
print(m)
m = tuple([20,30])
print(m)
m = tuple('abc')
print(m)
m = tuple ((20,30))
print(m)
m = tuple()
print(m)
m = (20)
print(m)
m = (20, )
print(m)

(20, 30)
(20, 30)
('a', 'b', 'c')
(20, 30)
()
20
(20,)

In [52]:
book_info = ( 'Python Basics', 39.99, 2021, ('D.Amos', 'D.Bader','J.Jablonski','F.Heisler'))
book_info[1]

39.99

In [64]:
a = (1,2,3)
c = a[ : ]
print(c)

(1, 2, 3)

In [66]:
d = tuple(a)
e = d.copy()

AttributeError: 'tuple' object has no attribute 'copy'

## Dictionary

In [67]:
dbook_info = { 'title' : 'Python Basics',
               'price' : 39.99,
               'year' : 2021,
               'authors' : ( 'D.Amos', 'D.Bader','J.Jablonski', 'F.Heisler')
}

In [69]:
customer = dict ([ 
('name', 'pikulkaew tangtisanon'),
('tel', '0812345678' )
])

In [70]:
customer = dict(name = 'pikulkaew tangtisanon' , tel = '0812345678')

In [72]:
print(dbook_info['title'])

Python Basics

In [73]:
print(dbook_info['age'])

KeyError: 'age'

In [75]:
print(dbook_info.get('title'))
print(dbook_info.get('age'))

Python Basics
None

In [79]:
customer = dict (name = "Jib", tel= '01234' )
customer

{'name': 'Jib', 'tel': '01234'}

In [80]:
customer['hobby'] = 'tennis'
customer

{'name': 'Jib', 'tel': '01234', 'hobby': 'tennis'}

In [81]:
customer.update({ 'address' : 'bangkok' })
customer

{'name': 'Jib', 'tel': '01234', 'hobby': 'tennis', 'address': 'bangkok'}

In [82]:
customer.update({ 'address' : 'Phuket' })
customer

{'name': 'Jib', 'tel': '01234', 'hobby': 'tennis', 'address': 'Phuket'}

In [83]:
del customer['address']
customer

{'name': 'Jib', 'tel': '01234', 'hobby': 'tennis'}

In [90]:
q = dbook_info.popitem ( )

In [91]:
dbook_info.clear()

In [93]:
sport = dict(soccer=11, rugby=15, volleyball=6, basketball=5, polo=4, softball=9)
print(sport)

{'soccer': 11, 'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4, 'softball': 9}

In [94]:
for i in sport.keys():
    print(i)

soccer
rugby
volleyball
basketball
polo
softball

In [95]:
for i in sport.values():
    print(i)

11
15
6
5
4
9

In [96]:
for i in sport:
    print(sport[i])

11
15
6
5
4
9

In [97]:
for i in sport.items():
    print(i)

('soccer', 11)
('rugby', 15)
('volleyball', 6)
('basketball', 5)
('polo', 4)
('softball', 9)

In [98]:
for k, v in sport.items():
    print(k, v)

soccer 11
rugby 15
volleyball 6
basketball 5
polo 4
softball 9

In [101]:
a = sport.copy()
print(a)

{'soccer': 11, 'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4, 'softball': 9}

In [102]:
b = dict(sport)
print(b)

{'soccer': 11, 'rugby': 15, 'volleyball': 6, 'basketball': 5, 'polo': 4, 'softball': 9}

In [103]:
kids = {

1 : {'name' : ' Poom', 'age' : 10},
2 : { 'name' : ' Pao', 'age':9},
3 : {'name' : ' Put ', 'age': 7},
}

## Sets

In [104]:
sport = {'rugby', 'soccer', 'basketball', 'volleyball', 'softball', 'rugby'}
print(sport)

{'volleyball', 'softball', 'soccer', 'basketball', 'rugby'}

In [107]:
s = {}
print(s)
s = set( )
print(s)
s = set([1])
print(s)

{}
set()
{1}

In [108]:
s = set(1)
print(s)

TypeError: 'int' object is not iterable

In [109]:
dad_sport = {'soccer', 'baseball', 'basketball', 'tennis'}
mom_sport = {'basketball', 'volleyball' , 'tennis', 'rowing'}
kid_sport ={'tennis' , 'swimming ', ' soccer'}

In [112]:
dad_sport | mom_sport|kid_sport

{' soccer',
 'baseball',
 'basketball',
 'rowing',
 'soccer',
 'swimming ',
 'tennis',
 'volleyball'}

In [111]:
dad_sport & mom_sport & kid_sport

{'tennis'}

In [113]:
dad_sport - mom_sport

{'baseball', 'soccer'}

In [114]:
kid_sport.difference(mom_sport,dad_sport)

{' soccer', 'swimming '}

In [115]:
dad_sport ^ mom_sport

{'baseball', 'rowing', 'soccer', 'volleyball'}

In [116]:
dad_sport.symmetric_difference(mom_sport)

{'baseball', 'rowing', 'soccer', 'volleyball'}

In [119]:
a = {1,2,3}
b = {3,4,5}
a.add(4)
print(a)

{1, 2, 3, 4}

In [120]:
a.update(b)
print(a)
a.update([5,6,7], 'xyz')
print(a)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 'x', 'y', 'z'}

In [121]:
a.remove(5)
print(a)

{1, 2, 3, 4, 6, 7, 'x', 'y', 'z'}

In [123]:
a.discard(5)
print(a)

{1, 2, 3, 4, 6, 7, 'x', 'y', 'z'}

In [124]:
a.pop()
print(a)

{2, 3, 4, 6, 7, 'x', 'y', 'z'}

In [125]:
b.clear()
print(b)

set()

In [127]:
a = {1,2,3} 
b = {3,4,5} 
c = {1,2,3} 
d = {1,2}

In [128]:
3 in a

True

In [129]:
a.isdisjoint(b)

False

In [130]:
d <= d

True

In [131]:
d < d

False

In [133]:
d <= c

True

In [4]:
c >= d

NameError: name 'c' is not defined

In [5]:
c > c

NameError: name 'c' is not defined

In [136]:
dad_sport = {'soccer', 'baseball', 'basketball', 'tennis'}
mom_sport = {'basketball', 'volleyball' , 'tennis', 'rowing'}
kid_sport ={'tennis' , 'swimming ', ' soccer'}

In [137]:
for i in dad_sport:
    print(i)

baseball
soccer
basketball
tennis

In [138]:
for i in enumerate(dad_sport):
    print(i)

(0, 'baseball')
(1, 'soccer')
(2, 'basketball')
(3, 'tennis')

## Function

In [139]:
def print_hello():
    print("Hello, world!")

In [140]:
def generate_random_number():
    import random
    return random.randint(1, 100)

In [142]:
def print_even_numbers():
    for i in range(1, 11):
        if i % 2 == 0:
            print(i)

In [143]:
print_hello()
print("Random Number:", generate_random_number())
print("Even Numbers:")
print_even_numbers()

Hello, world!
Random Number: 43
Even Numbers:
2
4
6
8
10

In [144]:
def add_numbers(*args):
    result = 0 # กําหนดคาเริ่มตนของผลลัพธเปน 0
    for n in args:
        result = result + n
    return result
print (add_numbers(2, 3,5 ))

10

In [145]:
x = 10
def var_scope():
    y = 99.99
    print(x)
    print(y)
    print(z)
z = 20
var_scope()
print(y)

10
99.99
20

NameError: name 'y' is not defined

## Files

In [7]:
f = open('myfiles/hellofile.txt')
data = f.read()
print(data)

hello my name is non
i love u jubjub

In [17]:
with open('myfiles/hellofile.txt', mode ='a') as f:
    f.write('i have one')

In [3]:
f = open('myfiles/test.txt')
data = f.read()
print(data)

FileNotFoundError: [Errno 2] No such file or directory: 'myfiles/test.txt'

## Lambda

In [19]:
print( (lambda x,y : x+y)(2,3) )

5

In [20]:
print( (lambda x,y : x if x > y else y)(2,3) )

3

In [21]:
lambda_fn = (lambda x,y : x+y)

## MAP

In [22]:
area = [(2,5), (5,6), (7,8)]
result = map(lambda x : x[0]*x[1], area)
print(list(result))

[10, 30, 56]

In [23]:
print( list(map(lambda x : x[0]*x[1], area)))

[10, 30, 56]

In [24]:
print([x[0]*x[1] for x in area])

[10, 30, 56]

In [26]:
tojpy = [100,200,300]
def jpy_thb(m):
    return m * 4

print(type(tojpy))
print(list(map(lambda m: m *4, tojpy)))
print(list(map(jpy_thb, tojpy)))

<class 'list'>
[400, 800, 1200]
[400, 800, 1200]

## Reduce

In [27]:
from functools import reduce
print(reduce( lambda x, y: x + y, [1, 2, 3, 4, 5] ))

15

In [28]:
print(sum([1, 2, 3, 4, 5]))

15

## Filter

In [29]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def is_even(num):
    return num % 2 == 0
even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [30]:
names = ['Dave', 'Nick', 'Tom', 'Mike']
print(list(filter(lambda s: s[0] in ['M', 'N'], names)))

['Nick', 'Mike']

In [31]:
print ([x for x in names if x[0] in ['M','N']])

['Nick', 'Mike']